---
language: node_js
node_js:
  - "6.9.2"

sudo: false

cache:
  directories:
    - node_modules
    - vendor

env:
  - EMBER_TRY_SCENARIO=default

matrix:
  fast_finish: true

before_install:
  - export PATH=/usr/local/phantomjs-2.0.1/bin:$PATH
  - "npm config set spin false"
  - "npm install -g npm@^2"

install:
  - npm install -g bower
  - npm install
  - bower install

script:
  - ember try $EMBER_TRY_SCENARIO test
