/* Addepar Buttons
-------------------------------------------------- */
.btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 8px 16px;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.btn-sm,
.btn-xs {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.btn-xs {
  padding: 1px 5px;
}
.btn:active,
.btn.active {
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-default {
  text-shadow: 0 1px 0 #fff;
  background: transparent;
  border-color: #ccc;
}
.btn-default:active,
.btn-default.active {
  background-color: #f6f6f6;
  border-color: #e0e0e0;
}
.btn-primary {
  background-color: #222;
  border-color: #222;
  font-weight: 500;
}
.btn-primary:hover {
  background-color: #222;
}
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #111;
  border-color: #222;
}
.btn-success {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#5cb85c), to(#5cb85c));
  background-image: -webkit-linear-gradient(top, #5cb85c, 0%, #5cb85c, 100%);
  background-image: -moz-linear-gradient(top, #5cb85c 0%, #5cb85c 100%);
  background-image: linear-gradient(to bottom, #5cb85c 0%, #5cb85c 100%);
  background-repeat: repeat-x;
  border-color: #419641;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff5cb85c', GradientType=0);
}
.btn-success:active,
.btn-success.active {
  background-color: #5cb85c;
  border-color: #419641;
}
.btn-warning {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f0ad4e), to(#ec971f));
  background-image: -webkit-linear-gradient(top, #f0ad4e, 0%, #ec971f, 100%);
  background-image: -moz-linear-gradient(top, #f0ad4e 0%, #ec971f 100%);
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #ec971f 100%);
  background-repeat: repeat-x;
  border-color: #eb9316;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffec971f', GradientType=0);
}
.btn-warning:active,
.btn-warning.active {
  background-color: #ec971f;
  border-color: #eb9316;
}
.btn-danger {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#d9534f), to(#d9534f));
  background-image: -webkit-linear-gradient(top, #d9534f, 0%, #d9534f, 100%);
  background-image: -moz-linear-gradient(top, #d9534f 0%, #d9534f 100%);
  background-image: linear-gradient(to bottom, #d9534f 0%, #d9534f 100%);
  background-repeat: repeat-x;
  border-color: #c12e2a;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffd9534f', GradientType=0);
}
.btn-danger:active,
.btn-danger.active {
  background-color: #d9534f;
  border-color: #c12e2a;
}
.btn-info {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#5bc0de), to(#31b0d5));
  background-image: -webkit-linear-gradient(top, #5bc0de, 0%, #31b0d5, 100%);
  background-image: -moz-linear-gradient(top, #5bc0de 0%, #31b0d5 100%);
  background-image: linear-gradient(to bottom, #5bc0de 0%, #31b0d5 100%);
  background-repeat: repeat-x;
  border-color: #2aabd2;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff31b0d5', GradientType=0);
}
.btn-info:active,
.btn-info.active {
  background-color: #31b0d5;
  border-color: #2aabd2;
}
/* Addepar Thumbnails
-------------------------------------------------- */
.thumbnail,
.img-thumbnail {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
/* Addepar Dropdowns
-------------------------------------------------- */
.dropdown-menu {
  border: 1px solid #dfdfdf;
  font-size: 13px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #357ebd;
  background-image: none;
  background-repeat: none;
  filter: none;
}
/* Addepar Navbar
-------------------------------------------------- */
.navbar {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#f8f8f8));
  background-image: -webkit-linear-gradient(top, #ffffff, 0%, #f8f8f8, 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%);
  background-repeat: repeat-x;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}
.navbar .navbar-nav > .active > a {
  background-color: #f8f8f8;
}
.navbar-transparent {
  background: none;
  filter: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.navbar-brand,
.navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
.navbar-inverse {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#3c3c3c), to(#222222));
  background-image: -webkit-linear-gradient(top, #3c3c3c, 0%, #222222, 100%);
  background-image: -moz-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background-image: linear-gradient(to bottom, #3c3c3c 0%, #222222 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
}
.navbar-inverse .navbar-nav > .active > a {
  background-color: #222222;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
}
/* Addepar Alerts
-------------------------------------------------- */
.alert {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.alert-success {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#dff0d8), to(#dff0d8));
  background-image: -webkit-linear-gradient(top, #dff0d8, 0%, #dff0d8, 100%);
  background-image: -moz-linear-gradient(top, #dff0d8 0%, #dff0d8 100%);
  background-image: linear-gradient(to bottom, #dff0d8 0%, #dff0d8 100%);
  background-repeat: repeat-x;
  border-color: #b2dba1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffdff0d8', GradientType=0);
}
.alert-danger {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f2dede), to(#f2dede));
  background-image: -webkit-linear-gradient(top, #f2dede, 0%, #f2dede, 100%);
  background-image: -moz-linear-gradient(top, #f2dede 0%, #f2dede 100%);
  background-image: linear-gradient(to bottom, #f2dede 0%, #f2dede 100%);
  background-repeat: repeat-x;
  border-color: #dca7a7;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#fff2dede', GradientType=0);
}
/* Addepar Progress Bars
-------------------------------------------------- */
.progress {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ebebeb), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #ebebeb, 0%, #f5f5f5, 100%);
  background-image: -moz-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
  background-image: linear-gradient(to bottom, #ebebeb 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
}
.progress-bar {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#428bca), to(#3071a9));
  background-image: -webkit-linear-gradient(top, #428bca, 0%, #3071a9, 100%);
  background-image: -moz-linear-gradient(top, #428bca 0%, #3071a9 100%);
  background-image: linear-gradient(to bottom, #428bca 0%, #3071a9 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3071a9', GradientType=0);
}
.progress-bar-success {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#5cb85c), to(#5cb85c));
  background-image: -webkit-linear-gradient(top, #5cb85c, 0%, #5cb85c, 100%);
  background-image: -moz-linear-gradient(top, #5cb85c 0%, #5cb85c 100%);
  background-image: linear-gradient(to bottom, #5cb85c 0%, #5cb85c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
}
.progress-bar-info {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#5bc0de), to(#31b0d5));
  background-image: -webkit-linear-gradient(top, #5bc0de, 0%, #31b0d5, 100%);
  background-image: -moz-linear-gradient(top, #5bc0de 0%, #31b0d5 100%);
  background-image: linear-gradient(to bottom, #5bc0de 0%, #31b0d5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff31b0d5', GradientType=0);
}
.progress-bar-warning {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f0ad4e), to(#ec971f));
  background-image: -webkit-linear-gradient(top, #f0ad4e, 0%, #ec971f, 100%);
  background-image: -moz-linear-gradient(top, #f0ad4e 0%, #ec971f 100%);
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #ec971f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffec971f', GradientType=0);
}
.progress-bar-danger {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#d9534f), to(#c9302c));
  background-image: -webkit-linear-gradient(top, #d9534f, 0%, #c9302c, 100%);
  background-image: -moz-linear-gradient(top, #d9534f 0%, #c9302c 100%);
  background-image: linear-gradient(to bottom, #d9534f 0%, #c9302c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc9302c', GradientType=0);
}
/* Addepar List Groups
-------------------------------------------------- */
.list-group {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.list-group-item:first-child {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}
.list-group-item:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  text-shadow: 0 -1px 0 #3071a9;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#428bca), to(#428bca));
  background-image: -webkit-linear-gradient(top, #428bca, 0%, #428bca, 100%);
  background-image: -moz-linear-gradient(top, #428bca 0%, #428bca 100%);
  background-image: linear-gradient(to bottom, #428bca 0%, #428bca 100%);
  background-repeat: repeat-x;
  border-color: #428bca;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff428bca', GradientType=0);
}
/* Addepar Panels
-------------------------------------------------- */
.panel {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.panel-heading {
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
}
.panel-default > .panel-heading {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f5f5f5), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #f5f5f5, 0%, #f5f5f5, 100%);
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #f5f5f5 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff5f5f5', GradientType=0);
}
.panel-primary > .panel-heading {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#428bca), to(#428bca));
  background-image: -webkit-linear-gradient(top, #428bca, 0%, #428bca, 100%);
  background-image: -moz-linear-gradient(top, #428bca 0%, #428bca 100%);
  background-image: linear-gradient(to bottom, #428bca 0%, #428bca 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff428bca', GradientType=0);
}
.panel-danger > .panel-heading {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f2dede), to(#f2dede));
  background-image: -webkit-linear-gradient(top, #f2dede, 0%, #f2dede, 100%);
  background-image: -moz-linear-gradient(top, #f2dede 0%, #f2dede 100%);
  background-image: linear-gradient(to bottom, #f2dede 0%, #f2dede 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#fff2dede', GradientType=0);
}
/* Addepar Modals
-------------------------------------------------- */
.modal {
  display: block !important;
  overflow-y: auto;
}
@media screen and (min-width: 768px) {
  .modal-dialog {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.modal.fade .modal-dialog {
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal-content {
  border: 1px solid #f1f1f1;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.modal-backdrop,
.modal-backdrop.fade.in {
  filter: alpha(opacity=60);
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
.modal-header {
  padding: 20px;
  border-bottom: 1px solid transparent;
}
.modal-header .close {
  filter: alpha(opacity=30);
  -webkit-opacity: 0.3;
  -moz-opacity: 0.3;
  opacity: 0.3;
}
.modal-title {
  font-size: 13px;
  color: #333;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.modal-footer {
  border-top: 1px solid transparent;
  text-align: left;
}
/* Addepar Antiscroll
-------------------------------------------------- */
.antiscroll-scrollbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
/* Source Code Pro typography for code examples */
@font-face {
  font-family: "SourceCodePro-Black";
  src: url('../fonts/sourceCodePro/SourceCodePro-Black.woff') format('woff'), url('../fonts/sourceCodePro/SourceCodePro-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceCodePro-Bold";
  src: url('../fonts/sourceCodePro/SourceCodePro-Bold.woff') format('woff'), url('../fonts/sourceCodePro/SourceCodePro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceCodePro-Semibold";
  src: url('../fonts/sourceCodePro/SourceCodePro-Semibold.woff') format('woff'), url('../fonts/sourceCodePro/SourceCodePro-Semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceCodePro-Medium";
  src: url('../fonts/sourceCodePro/SourceCodePro-Medium.woff') format('woff'), url('../fonts/sourceCodePro/SourceCodePro-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceCodePro-Regular";
  src: url('../fonts/sourceCodePro/SourceCodePro-Regular.woff') format('woff'), url('../fonts/sourceCodePro/SourceCodePro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceCodePro-Light";
  src: url('../fonts/sourceCodePro/SourceCodePro-Light.woff') format('woff'), url('../fonts/sourceCodePro/SourceCodePro-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceCodePro-ExtraLight";
  src: url('../fonts/sourceCodePro/SourceCodePro-ExtraLight.woff') format('woff'), url('../fonts/sourceCodePro/SourceCodePro-ExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Table - Sizes */
/* Table - Font Colors */
/* Table - BG and Border Colors */
/* Table - Scrollbar */
/* Type */
/* Layout */
/* Colors */
/* GitHub Theme - http://jmblog.github.io/color-themes-for-google-code-prettify/css/themes/github.css */
/* Pretty printing styles. Used with prettify.js. */
/* SPAN elements with the classes below are added by prettyprint. */
/* plain text */
.pln {
  color: #333333;
}
@media screen {
  /* string content */
  .str {
    color: #dd1144;
  }
  /* a keyword */
  .kwd {
    color: #333333;
  }
  /* a comment */
  .com {
    color: #999988;
  }
  /* a type name */
  .typ {
    color: #445588;
  }
  /* a literal value */
  .lit {
    color: #445588;
  }
  /* punctuation */
  .pun {
    color: #333333;
  }
  /* lisp open bracket */
  .opn {
    color: #333333;
  }
  /* lisp close bracket */
  .clo {
    color: #333333;
  }
  /* a markup tag name */
  .tag {
    color: navy;
  }
  /* a markup attribute name */
  .atn {
    color: teal;
  }
  /* a markup attribute value */
  .atv {
    color: #dd1144;
  }
  /* a declaration */
  .dec {
    color: #333333;
  }
  /* a variable name */
  .var {
    color: teal;
  }
  /* a function name */
  .fun {
    color: #990000;
  }
}
/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str {
    color: #006600;
  }
  .kwd {
    color: #006;
    font-weight: bold;
  }
  .com {
    color: #600;
    font-style: italic;
  }
  .typ {
    color: #404;
    font-weight: bold;
  }
  .lit {
    color: #004444;
  }
  .pun,
  .opn,
  .clo {
    color: #444400;
  }
  .tag {
    color: #006;
    font-weight: bold;
  }
  .atn {
    color: #440044;
  }
  .atv {
    color: #006600;
  }
}
/* Style */
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}
/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  /* */
}
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  /* */
}
/* Ember Charts
============================================================================= */
.charts-hero {
  background: #000 url(../img/ember-charts-hero.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.charts-hero .hero-content-container {
  top: 300px;
}
.charts-hero .hero-overlay {
  background-color: rgba(0, 0, 0, 0.73);
}
/* Ember Charts Overview Page
-------------------------------------------------- */
.ember-charts-examples {
  padding: 0;
}
.ember-charts-examples img {
  max-width: 250px;
  border: 1px solid #ddd;
}
.ember-charts-examples .preview-box {
  border: 1px solid #ddd;
  margin-bottom: 30px;
}
.ember-charts-examples .preview-box:hover {
  border: 1px solid #0097e3;
}
.ember-charts-options {
  margin-top: 30px;
  margin-bottom: 50px;
}
.ember-charts-options td:first-child {
  font-family: 'Univers Next W01 Bold';
  font-weight: normal;
  color: #333;
}
.table th {
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #999;
  border-top: none !important;
}
/* Charts */
.chart-container {
  position: relative;
  width: 100%;
  height: 500px;
}
.chart-container.scroll-y {
  overflow-y: scroll;
  overflow-x: hidden;
}
.chart-container.scroll-x {
  overflow-x: scroll;
}
.chart-container .resizable {
  height: 500px;
  width: 700px;
}
.chart-container .chart-frame {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  overflow-y: auto;
}
.chart-settings dd .ember-select {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 22px;
}
/* Body and structure
-------------------------------------------------- */
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'UniversNextW01-Regular', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
}
/* Typography
-------------------------------------------------- */
/*
  From Fonts.com:

  Univers Next
  font-family: 'UniversNW01-130BUlLt';
  font-family: 'UniversNW01-230BThin';
  font-family: 'Univers Next W01 Light';
  font-family: 'UniversNextW01-Regular';
  font-family: 'Univers Next W01 Medium';
  font-family: 'Univers Next W01 Bold';

  Univers (Tabular numbers)
  font-family: 'Univers LT W01 45 Light';
  font-family: 'Univers LT W01 55 Roman';
  font-family: 'Univers LT W01 65 Bold';
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'UniversNextW01-Regular', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  color: #45494d;
  line-height: 1.5;
}
h1 {
  font: normal 24px/1.5 'UniversNextW01-Regular', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  margin-bottom: 15px;
}
h1 small {
  font: normal 18px/1.5 'UniversNextW01-Regular', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
}
h2 {
  font: normal 20px/1.5 'UniversNextW01-Regular', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  color: #404040;
}
h2 small {
  font-size: 14px;
}
h3 {
  font: normal 18px/1.5 'UniversNextW01-Regular', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-family: 'Univers Next W01 Light';
}
h4 {
  font: 500 15px/1.5 'UniversNextW01-Regular', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-family: 'Univers Next W01 Medium';
}
h5 {
  display: inline-block;
  padding-bottom: 4px;
  color: rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  font: bold 13px/1.5 'UniversNextW01-Regular', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-family: 'Univers Next W01 Bold';
  text-transform: uppercase;
  letter-spacing: 2px;
}
p,
.styled li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: normal 14px/1.62 'UniversNextW01-Regular', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-family: 'UniversNextW01-Regular';
  font-family: 'Univers Next W01 Light';
  color: #737373;
  margin-bottom: 20px;
}
p.elevated,
.styled li.elevated {
  font: normal 16px/1.62 'UniversNextW01-Regular', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-family: 'Univers Next W01 Light';
  margin-bottom: 25px;
}
p.reduced,
.styled li.reduced {
  font: normal 11px/1.4 'UniversNextW01-Regular', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-family: 'UniversNextW01-Regular';
}
.styled li {
  margin-bottom: 0;
}
.styled-spacious li {
  margin-bottom: 20px;
}
a {
  color: #0097e3;
}
a:hover,
a:active {
  color: #0097e3;
  color: #17b1ff;
  text-decoration: none;
}
hr.soften {
  height: 1px;
  margin: 70px 0;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  border: 0;
}
select,
textarea,
input[type='text'],
input[type='password'],
input[type='datetime'],
input[type='datetime-local'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='week'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='tel'],
input[type='color'],
.uneditable-input {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
strong {
  font-weight: 500;
  font-family: 'UniversNextW01-Regular', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-family: 'Univers Next W01 Medium';
}
/* Code Sample Styles */
code,
pre {
  display: block;
  font-family: 'SourceCodePro-Regular', Menlo, Monaco, Consolas, monospace;
  font-size: 12px;
  white-space: pre !important;
  word-wrap: normal;
}
pre {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  background-color: #f8f8f8;
}
/* Buttons
-------------------------------------------------- */
.addepar-btn {
  font: normal 13px 'UniversNextW01-Regular', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-family: 'Univers Next W01 Medium';
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: none;
  background-color: #ccc;
  border: 1px solid #ededed;
  -webkit-box-shadow: inset 0 -2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 -2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.addepar-btn:hover {
  cursor: pointer;
}
.addepar-btn-large {
  padding: 16px 24px 17px 24px;
}
.addepar-btn-outline {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 14px 24px 15px 24px;
  background: none;
  border: 2px solid #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.addepar-btn-white {
  color: #eee;
  border-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.addepar-btn-white:hover {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  color: #fff;
  border-color: rgba(255, 255, 255, 0.99);
  background: none;
}
.addepar-btn-primary {
  color: #fff;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
  background: rgba(0, 0, 0, 0.7);
  border: 0 solid transparent;
  box-shadow: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.addepar-btn-primary:hover {
  background: rgba(0, 0, 0, 0.88);
  border: 0 solid transparent;
}
/* Util Classes
-------------------------------------------------- */
.center-align {
  text-align: center;
}
.left-align {
  text-align: left;
}
.right-align {
  text-align: right;
}
.uppercase {
  text-transform: uppercase;
}
.bold {
  font-family: 'Univers Next W01 Bold';
}
.bumper-30 {
  margin-top: 30px;
}
.bumper-15 {
  margin-top: 15px;
}
.image-shadow img {
  -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.4);
}
/* Navigation
-------------------------------------------------- */
.addepar-navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 50px 40px 0 40px;
  z-index: 1000;
}
.addepar-navbar .nav > li a {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 2px;
  text-shadow: none;
  background: transparent;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.addepar-navbar .nav > li a:hover {
  color: rgba(255, 255, 255, 0.95);
  background: transparent;
}
.addepar-navbar .nav > li a.active {
  color: rgba(255, 255, 255, 0.98);
}
.addepar-navbar .nav > li a.last {
  padding-right: 0;
}
.addepar-navbar .nav {
  margin-top: 3px;
}
.logo {
  margin-top: -2px;
}
.navbar-title {
  font-size: 17px;
  color: #fff;
  font-weight: 200;
  font-family: 'UniversNW01-230BThin';
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-left: 20px;
}
/* Hero
-------------------------------------------------- */
.hero-container {
  background-color: #000;
  height: 500px;
  position: relative;
  overflow: hidden;
  z-index: 2;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.hero-container .hero {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 500px;
  background-color: #000;
}
.hero-container.small-hero-container {
  height: 150px;
}
.hero-container.large-hero-container {
  height: 600px;
}
.hero-container.large-hero-container .hero,
.hero-container.large-hero-container .hero-overlay {
  height: 600px;
}
.hero-container.large-hero-container .hero-content-container {
  top: 240px;
}
.hero-container.large-hero-container .hero-content-container h1 {
  margin-bottom: 30px;
}
.hero .hero-overlay {
  background-color: rgba(0, 0, 0, 0.73);
}
.hero-content-container {
  position: relative;
  top: 180px;
  z-index: 2;
}
.hero-tagline h1 {
  font: 300 26px/1.5 'UniversNextW01-Regular', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-family: 'Univers Next W01 Light';
  color: #fff;
  margin-bottom: 15px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.hero-tagline h1.elevated {
  font-weight: 200;
  font-family: 'UniversNW01-230BThin';
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 15px;
  margin-bottom: 10px;
}
.hero-tagline p {
  color: #b3b3b3;
  font-weight: 300;
  font-family: 'Univers Next W01 Light';
}
.hero-tagline .addepar-btn {
  margin: 6px;
}
.hero-content-container h1,
.hero-content-container .btn {
  -webkit-font-smoothing: antialiased;
}
.hero-overlay {
  position: absolute;
  top: 0;
  height: 500px;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.53);
}
.hero span {
  color: #aaa;
  font-size: 13px;
}
.hero .btn {
  font-weight: normal;
  font-family: 'Univers Next W01 Medium';
  letter-spacing: 1px !important;
}
.hero .btn-primary {
  letter-spacing: 2px !important;
}
.hero-container.sub-page {
  height: 200px;
}
.hero-container.sub-page .hero,
.hero-container.sub-page .hero-overlay {
  height: 200px;
}
.hero-container.sub-page .hero-content-container {
  top: 50px;
}
/* Sections
-------------------------------------------------- */
.section {
  border-top: 1px solid #e4e4e4;
  padding: 70px 0 70px 0;
}
.section-small {
  padding: 40px 0 0 0;
}
.section-grey {
  background-color: #f6f6f6;
}
.section p {
  margin-bottom: 40px;
}
.section-title h1 {
  font-weight: 300;
  font-family: 'Univers Next W01 Light';
  font-size: 24px;
  margin-bottom: 30px;
  color: #45494d;
}
/* Footer
-------------------------------------------------- */
.footer {
  text-align: left;
  padding: 50px 0;
  background-color: #111;
}
.footer a {
  color: #777;
  font: 13px 'UniversNextW01-Regular', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
}
.footer li {
  padding-bottom: 2px;
}
.footer h6 {
  padding-bottom: 14px;
  color: #444;
  font-weight: normal;
  font-size: 13px;
  font-family: 'Univers Next W01 Bold';
  text-transform: uppercase;
  letter-spacing: 2px;
}
.footer strong {
  color: #aaa;
}
.footer p {
  font: 13px 'UniversNextW01-Regular', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  margin-bottom: 0;
  color: #444;
}
.footer .sub-title {
  margin-top: 20px;
  color: #555;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}
/* Example Container
-------------------------------------------------- */
.example-container {
  position: relative;
  padding: 45px 15px 15px;
  border: 1px solid #eee;
}
.example-container:after {
  content: 'Example';
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  font-weight: normal;
  font-family: 'Univers Next W01 Medium';
  letter-spacing: 1px;
  color: #aaa;
  text-transform: uppercase;
}
.example-description {
  margin: 10px 0;
}
/* Index Page
============================================================================= */
/* Hero
-------------------------------------------------- */
.index-hero {
  background: #000 url(../img/bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.index-hero .hero-content-container {
  top: 300px;
}
.index-hero .hero-overlay {
  background-color: rgba(0, 0, 0, 0.73);
}
.index-buttons {
  margin-top: 30px;
}
.open-source-previews p.reduced {
  margin: 10px 0;
}
.open-source-previews p.reduced a {
  color: #737373;
}
.open-source-previews p.reduced iframe {
  margin-bottom: -5px;
}
.product-preview .preview-box a {
  margin-right: 5px;
}
.product-preview .preview-box img {
  border: 1px solid #ddd;
}
.product-preview .preview-box img:hover {
  border: 1px solid #0097e3;
}
.warning {
  color: #af8828;
  font-size: 16px;
}
.extra-padding {
  padding-top: 10px;
}
/* Sub Pages
============================================================================= */
/* Sub Navigation
-------------------------------------------------- */
.sub-navigation-sidebar {
  position: absolute;
  max-width: 195px;
  padding-top: 30px;
  background-color: #fff;
}
.sub-navigation-sidebar > ul {
  padding: 0;
}
.sub-navigation-sidebar li {
  line-height: 24px;
}
.sub-navigation-sidebar.affix {
  position: fixed;
  top: 0;
}
.sub-navigation-sidebar.affix-bottom {
  position: absolute;
}
.github-navigation .sub-title,
.project-navigation .sub-title {
  margin-top: 30px;
  font-weight: 500;
  font-family: 'Univers Next W01 Medium';
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
  color: #555;
}
.github-navigation a,
.project-navigation a {
  font-size: 12px;
  color: #999;
}
.github-navigation a.active,
.project-navigation a.active {
  color: #333;
}
.github-navigation .btn {
  width: 162px;
  margin: 22px 0 16px 0;
  font-family: 'Univers Next W01 Medium';
  font-weight: normal;
}
/* Content
-------------------------------------------------- */
.main-content-container {
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: #fff;
  min-height: 770px;
}
.main-content-container-shadow {
  background-color: #f8f8f8;
  box-shadow: 568px 0 0 0 #fff inset, 568px -10px 10px 0 rgba(0, 0, 0, 0.1) inset;
}
.left-border {
  border-left: 1px solid #ddd;
}
/* Responsive CSS
============================================================================= */
/* Large desktop
-------------------------------------------------- */
/* Regular desktop
-------------------------------------------------- */
@media (min-width: 980px) and (max-width: 1200px) {
  .sub-navigation-sidebar {
    max-width: 160px;
  }
  .github-navigation .btn {
    width: 133px;
  }
}
/* Portrait tablet to landscape and desktop
-------------------------------------------------- */
/* Landscape phone to portrait tablet
-------------------------------------------------- */
input[type='range'] {
  display: block;
  width: 100%;
}
