{{!-- Sub-Navigation --}}
<div class="col-md-2 sub-navigation-sidebar">
  <ul class="list-unstyled github-navigation">
    <li>
      <a class="btn btn-default" target="_BLANK" href="https://github.com/addepar/ember-charts">
        <i class="icon-github"></i> View on GitHub
      </a>
    </li>
    <li>
      <iframe src="http://ghbtns.com/github-btn.html?user=addepar&amp;repo=ember-charts&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="130" height="30"></iframe>
    </li>
  </ul>
  <hr>
  <ul class="list-unstyled project-navigation">
    <li class="sub-title">Ember charts</li>
    <li>{{#linkTo 'emberCharts.overview'}}Overview &amp; Getting Started{{/linkTo}}</li>
    <li>{{#linkTo 'emberCharts.documentation'}}API &amp; Documentation{{/linkTo}}</li>
  </ul>
  <hr>
  <ul class="list-unstyled project-navigation">
    <li>{{#linkTo 'emberCharts.horizontal_bar'}}Horizontal Bar Chart{{/linkTo}}</li>
    <li>{{#linkTo 'emberCharts.vertical_bar'}}Vertical Bar Chart{{/linkTo}}</li>
    <li>{{#linkTo 'emberCharts.pie'}}Pie Chart{{/linkTo}}</li>
    <li>{{#linkTo 'emberCharts.scatter'}}Scatter Plot{{/linkTo}}</li>
    <li>{{#linkTo 'emberCharts.time_series'}}Time Series Chart{{/linkTo}}</li>
    {{!-- <li>{{#linkTo 'emberCharts.bubble'}}Bubble Plot{{/linkTo}}</li> --}}
  </ul>
</div>