<div class="col-md-10 col-md-offset-2 left-border main-content-container">
  <h1>Ember Charts</h1>
  <p class="elevated">A charting library built with the
  Ember.js and d3.js frameworks. It includes time series, bar, pie, and
  scatter charts which are easy to extend and modify. The out-of-the-box
  behavior these chart components represents our thoughts on best
  practices in chart interactivity and presentation.</p>
  <div class="row ember-charts-examples">
    {{#link-to 'emberCharts.time_series'}}
      <div class="col-md-4">
        <h4>Time Series</h4>
        <img class="preview-box" src="img/preview_chart_time_series.png" />
      </div>
    {{/link-to}}
    {{#link-to 'emberCharts.horizontal_bar'}}
      <div class="col-md-4">
        <h4>Horizontal Bar</h4>
        <img class="preview-box" src="img/preview_chart_horizontal_bar.png" />
      </div>
    {{/link-to}}
    {{#link-to 'emberCharts.vertical_bar'}}
      <div class="col-md-4">
        <h4>Vertical Bar</h4>
        <img class="preview-box" src="img/preview_chart_vertical_bar.png" />
      </div>
    {{/link-to}}
    {{#link-to 'emberCharts.pie'}}
      <div class="col-md-4">
        <h4>Pie</h4>
        <img class="preview-box" src="img/preview_chart_pie.png" />
      </div>
    {{/link-to}}
    {{#link-to 'emberCharts.scatter'}}
      <div class="col-md-4">
        <h4>Scatter</h4>
        <img class="preview-box" src="img/preview_chart_scatter.png" />
      </div>
    {{/link-to}}
  </div>

  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3>Features</h3>
      <ul class="styled">
        <li>Highly customizable and extensible.</li>
        <li>Rich with features - add legends, labels, tooltips, and
        mouseover effects.</li>
        <li>Robust & polished - weird data will not cause your charts to
        break.</li>
        <li>Roll your own charts by extending our ChartComponent class -
        get labels, automatic resizing, and reasonable defaults for
        margins, padding, etc.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3>Dependencies</h3>
      <ul class="styled">
        <li><a target="_BLANK" href="http://emberjs.com/">Ember.js</a></li>
        <li><a target="_BLANK" href="http://d3js.org/">D3.js</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <hr>
      <h1>Getting Started</h1>
      <p>You will need <a target="_BLANK" href="http://nodejs.org/">node</a> installed as a development dependency.</p>
      <p><a href="https://github.com/Addepar/ember-charts/">Clone it from Github</a> or <a href="https://github.com/Addepar/ember-charts/zipball/master">download the ZIP repo<a><p>
      <div class="highlight">
<pre><code>$ npm install -g grunt-cli
$ npm install
$ grunt
$ node examples.js</code></pre>
      <p>Go to your browser and navigate to localhost:8000/gh_pages</p>
      </div>
    </div>
    <div class="col-md-6">
      <hr>
      <h1>Changelog</h1>
      <ul class="styled">
        <li>v0.1 - October 21, 2013. Branch: <a target="_BLANK" href="https://github.com/Addepar/ember-charts/tree/master">Master →</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <hr>
      <h1>Contributing</h1>
      <p>You can contribute to this project in one of two ways:
      <ul class="styled">
        <li>Browse the ember-charts <a target="_BLANK" href="https://github.com/Addepar/ember-charts/issues?state=open">issues</a> and report bugs</li>
        <li>Clone the ember-charts repo, make some changes according to our development guidelines and issue a pull-request with your changes.</li>
      </ul>
      <p>We keep the ember-charts.js code to the minimum necessary, giving users as much control as possible.</p>
    </div>
    <div class="col-md-6">
      <hr>
      <h1>Acknowledgements</h1>
      <p>Core contributors</p>
      <ul class="styled">
        <li><a target="_BLANK" href="https://github.com/sherb">Tony Sherbondy</a></li>
        <li><a target="_BLANK" href="https://github.com/raykyri">Raymond Zhong</a></li>
      </ul>
      <p><a target="_BLANK" href="https://github.com/Addepar/ember-charts/graphs/contributors">List of Contributors on Github</a></p>
      <p>With lots of help from the Ember.js team</p>
    </div>
  </div>
</div>
