{{!-- Small Hero --}}
<div class="hero-container small-hero-container">
  <div class="hero charts-hero">
    <div class="hero-overlay"></div>
  </div>
</div>

{{!-- Main Container --}}
<div class="container">
  <div class="row">

    {{partial "ember_charts/sub_navigation"}}

    {{outlet}}
  </div>
</div>
